---
import Wordmark from "../components/Wordmark.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout cover>
  <div class="cover">
    <Wordmark variant="cover" />
  </div>
</BaseLayout>
